


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 .header {
    background-color: aqua;
    background:-webkit-linear-gradient(right, yellow, aqua);
    height: 80px;
    
} 

.card {
    background-color: lightskyblue;
}

.uvilow {
    color: rgb(14, 167, 14);
}

.uvihigh {
    color: red;
}
.uvimedium {
    color: rgb(186, 128, 21);
}